<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%thread] %-5level %logger - %message%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>%date [%thread] %-5level %logger - %message%n</pattern>
    </encoder>
    <file>target/logs/application.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>target/logs/application_%d{yyyy-MM-dd}.zip</fileNamePattern>
    </rollingPolicy>
  </appender>
  <logger name="com.kuzumeji" level="TRACE">
    <appender-ref ref="FILE" />
  </logger>
  <root level="TRACE">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>